doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(rel="stylesheet", href="https://unpkg.com/@bafs/mu@0.3/mu.min.css")

    link(href="css/style.css", rel="stylesheet", type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800", rel="stylesheet", type="text/css")

  body
    header
      //- nav
      //-   a(href="https://lettersforblacklives.com")
      //-     include ./logo.svg
      //-   ul
      //-     li: a(href="/") Foo
      //-     li: a(href="/") Bar
      //-     li: a(href="/") Baz
      include ./logo.svg
      h1 #{community}
      h2 #{__('HEADER', community)}
    main
      .onboarding
        .onboarding__step
          include:markdown-it(html) ./markdown/code_of_conduct_1.md
        .onboarding__step
          include:markdown-it(html) ./markdown/code_of_conduct_2.md
        //- .onboarding__step
        //-   include:markdown-it(html) ./markdown/code_of_conduct_3.md
        .onboarding__step
          include:markdown-it(html) ./markdown/code_of_conduct_4.md
        .onboarding__step
          include:markdown-it(html) ./markdown/code_of_conduct_5.md
        //- .onboarding__step
        //-   include:markdown-it(html) ./markdown/code_of_conduct_6.md
        .onboarding__step
          include:markdown-it(html) ./markdown/code_of_conduct_7.md
        .onboarding__step
          include:markdown-it(html) ./markdown/code_of_conduct_8.md
        .onboarding__step
          include:markdown-it(html) ./markdown/code_of_conduct_9.md
        //- .onboarding__step
        //-   include:markdown-it(html) ./markdown/code_of_conduct_10.md
        .onboarding__step
          input#chck11(type="checkbox")
          //- input#chck11(type="checkbox" checked)
          h2 Acknowledgements
          .onboarding__step-content
            :markdown-it
              Many of the best ideas in this Code of Conduct come from the codes of conduct for [Women In Tech chat](https://witchat.github.io/#codeofconduct), [LGBTQ in Tech](http://lgbtq.technology/coc.html), and [Vox Product](http://code-of-conduct.voxmedia.com/).

              If you agree to abide by this Code of Conduct, we welcome you to [Join the Letters for Black Lives Slack Team](http://slack-invite.lettersforblacklives.com/).

              P.S. There are a lot of conversations happening on our Slack group simultaneously. [Check out our guide to the chaos](http://volunteers.lettersforblacklives.com/) and jump in where you want to contribute and converse, or ask for help in #slack101.

            include ./_invite_form.pug

    script.
      $(document).ready(function() {
        $('button').click(function() {
          var nextStep = $(this).data('next-step')
          $('#chck' + nextStep).prop('checked', true);
        })
      })
