@charset "UTF-8";

header {
  text-align: center;
}
header h1, header h2 {
  color: #000;
}

button {
  font-size: 1.15rem;
  cursor: pointer;
}

/* Accordion styles via https://codepen.io/raubaca/pen/PZzpVe */
.onboarding {
  /* overflow: hidden; */
}

.onboarding__step {
  overflow: hidden;
}
.onboarding__step > h2 {
  color: #666;
}
.onboarding__step-content {
  max-height: 100px;
  color: #aaa;
  transition: all 1s ease-in-out;
  -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
  mask-image: linear-gradient(to top, transparent 25%, black 75%);
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
input:checked + .onboarding__step-label, input:checked + h2 {
  color: #000
}
input:checked ~ .onboarding__step-content {
  max-height: 150vh;
  color: #000;
  -webkit-mask-image: none;
  mask-image: none;
}