//- nav
//-   a(href="https://lettersforblacklives.com")
//-     include ./logo.svg
//-   ul
//-     li: a(href="/") Foo
//-     li: a(href="/") Bar
//-     li: a(href="/") Baz
include ./logo.svg
h1 #{community}